# Generate piece wise audio files

One second pre audio files for each piece to one second past onset of claps? or end of song? lets See.


https://github.com/jiaaro/pydub

In [1]:
import sys
import os
import time
import datetime as dt
import math
import numpy as np 
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json 
from scipy.signal import butter, filtfilt, argrelextrema
from scipy import interpolate
from scipy.interpolate import interp1d

from pydub import AudioSegment

In [2]:
# audio file locations in
audio_loc = '../Data/Audio/Full_Zero/'
out_loc = '../Data/Audio/Piece_wise/'
# audio file locations out

Piece_timings = pd.read_csv('./Timing/Concerttimes_Seconds.csv')

In [3]:
Piece_timings = pd.read_csv('./Timing/Concerttimes_Seconds.csv')

In [21]:
datafile_type = 'Audio'
concert = 'RD'
piece = 'Full'
audio_loc = '../Data/Audio/Full_Zero/' + concert + '_Leveled_Zero.wav'
out_loc = '../Data/Audio/Piece_wise/'
C_times = Piece_timings[['Event','Event_Type','Related']].copy()
C_times['Start'] =  Piece_timings[concert]
C_times = C_times.sort_values('Start')
C_times = C_times.loc[C_times['Start']>-15,:].reset_index(drop = True).copy()
C_times['Next'] = C_times.Start.shift(-1)
M_times =  C_times.loc[C_times['Event_Type'] == 'Music',:]
M_times

             Event Event_Type Related     Start      Next
2         Saevarud      Music    Saev    43.907   280.462
5            Reich      Music    Reic   673.822   787.582
9            Arban      Music    Arba   860.595  1382.782
12           Grieg      Music    Grie  1431.390  1752.022
15    Tsjajkovskij      Music    Tcha  1858.478  2033.670
18  Christophersen      Music    Chri  2113.102  2492.982
22         Vivaldi      Music    Viva  2681.310  2918.702
27         Strauss      Music    Stra  3188.606  3334.334

In [22]:
sound = AudioSegment.from_wav(audio_loc)
#sound = AudioSegment.from_mp3(audio_loc)
print(len(sound))

3373778

In [23]:
# buffer is small, 1 second
t_units = 1000  # pydub does things in milliseconds
buff = 1 # in seconds
for i in M_times.index:
    Peice_tag = M_times.loc[i,'Related']
    s_time = (M_times.loc[i,'Start']-buff) * t_units
    e_time = (M_times.loc[i,'Next']+buff) * t_units
    p_audio = sound[s_time:e_time]
    out_audio = out_loc + concert + '_' + Peice_tag + '_1.mp3'
    with open(out_audio, 'wb') as out_f:
        p_audio.export(out_f, format='mp3')

## get pre Arban audio

In [24]:
 Piece_timings.loc[Piece_timings['Related'] == 'Arba']

,Event,Event_Type,Related,RD,C1,C2,C3,C4,C5
10,MC pre Arban,Speech,Arba,792.286,842.650,773.062,700.660,780.809,813.700
11,Applause for Florian,Applause,Arba,835.470,963.502,907.786,929.872,1004.009,997.015
12,Arban,Music,Arba,860.595,982.114,924.186,948.014,1045.313,1012.486
13,Applause for Arban,Applause,Arba,1382.782,1505.664,1453.954,1452.526,1538.147,1520.986

In [25]:
buff = 1
out_loc = '../Data/Audio/Piece_wise/'

for concert in ['C1','C2','C3','C4','C5']:
    audio_loc = '../Data/Audio/Full_Zero/' + concert + '_Leveled_Zero.wav'
    sound = AudioSegment.from_wav(audio_loc)
    s_time = (Piece_timings.loc[10,concert]-buff) * t_units
    e_time = (Piece_timings.loc[11,concert]+buff) * t_units
    p_audio = sound[s_time:e_time]
    out_audio = out_loc + concert + '_MC_Pre_Arban_1.mp3'
    with open(out_audio, 'wb') as out_f:
        p_audio.export(out_f, format='mp3')